@model IEnumerable<Sports.Models.Sport>
@using Sports.Models;

@{
    ViewData["Title"] = "ViewSports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Sports List</h2>
    @Html.ActionLink("Create new sport", "Create")
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SportName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SportId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Sport players in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(players.SportName, "BySportId", "Sports", new { id = players.SportId }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => players.SportName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => players.SportId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => players.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@players.SportId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@players.SportId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@players.SportId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>